# ENVIRONMENT VALUES
APP_URL=http://127.0.0.1
APP_ENV=local
APP_DEBUG=true

MYSQL_HOST=192.168.1.41
MYSQL_PORT=7711
MYSQL_NAME="dev_local"
MYSQL_USER="dev_user"
MYSQL_PASS="dev_password"

PGSQL_HOST=192.168.1.41
PGSQL_PORT=7711
PGSQL_NAME="dev_local"
PGSQL_USER="dev_user"
PGSQL_PASS="dev_password"

MONGO_HOST=192.168.1.41
MONGO_PORT=7711
MONGO_NAME="dev_local"
MONGO_USER="dev_user"
MONGO_PASS="dev_password"

REDIS_HOST=192.168.1.41
REDIS_PORT=7711
REDIS_ROOT_USER=rootuser
REDIS_ROOT_PASS="rootpass"
REDIS_USER=devuser
REDIS_PASS="devpass"

MAIL_MAILER=smtp
MAIL_HOST=192.168.1.41 #mailhog
MAIL_PORT=7502
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_SMTP_AUTH=false
MAIL_SECURE='' # 'ssl' or 'tls' or ''
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=sender@example.com
MAIL_FROM_NAME="Development"

RABBITMQ_HOST=192.168.1.41
RABBITMQ_PORT=7504
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE_QUEUE="api_tasks_queue"